# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
.venv/

# Django
db.sqlite3
media/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Pytest
.pytest_cache/

media/

.mypy_cache/

# Coverage
.coverage
htmlcov/
